@media only screen and (max-width: 2080px){
    #right-side{
        padding: 2%;
    }

    #text-label-name{
        right: 1200px;
    }
    
    #text-label-cel{
        right: 1270px;
    }
    
    #text-label-cpf{
        right: 750px;
    }
    
    #text-label-operations{
        right: 710px;
    }

}
@media only screen and (max-width: 1380px) {
    body{
        font-size: 10pt;
    }
    header{
        justify-content: space-around;
    }
    header nav{
        width: 70%;
    }   
    .oval{
        height: 30px;
        width: 80px;
    }
    .section-button{
        flex-direction: column-reverse;
        text-align: justify;

    }
    #right-side{
        position: relative;
        bottom: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3%;
    }

    .click-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        width: 103px;
        height: 50px;
        font-size: 10pt;
    }
    

    .form-distance, .form-distance section{
        align-items: center;
    }

    .form-distance section div{
        align-items: center;
    }

    .form-distance section{
        flex-direction: column;
        align-items: center;
    }

    .img-side-rectangle{
        width: 270px;    
    }

    #text-label-name{
        right: 700px;
    }
    
    #text-label-cel{
        right: 750px;
    }
    
    #text-label-cpf{
        right: 750px;
    }
    
    #text-label-operations{
        right: 750px;
    }

    .button{
        left: 220px;
    }

    footer{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px){
    #right-side{
        bottom: 78px;
    }

    .img-side-rectangle{
        width: 210px;    
    }

    #text-label-name{
        right: 600px;
    }
    
    #text-label-cel{
        right: 650px;
    }
    
    #text-label-cpf{
        right: 650px;
    }
    
    #text-label-operations{
        right: 650px;
    }

    

}

@media only screen and (max-width: 896px) {
    header{
        width: 100%;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    header img{
        width: 80px;
    }
    .none{
        display: inline-block;
    }
    ul{
        justify-content: space-evenly;
    }
    header nav{
        width: 20%;
    }
    .section-img-circle{
        justify-content: center;
    }
    .img-circle{
        padding: 10px;
        margin: 10px;
    }
    
    .oval{
        display: none;
    }
    main{
        flex-direction: column;
        width: 100%;
    }
    #right-side{
        width: 100%;
        position: static;
    }

    #right-side div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 80%;
    }

    .img-side-rectangle{
        width: 306px;    
    }

    input, select{
        width: 300px;
        height: 20px;
    }
    form{
        width: 100%;
    }

    #text-label-name{
        right: 200px;
    }
    
    #text-label-cel{
        right: 250px;
    }
    
    #text-label-cpf{
        right: 250px;
    }
    
    #text-label-operations{
        right: 250px;
    }

    .button{
        bottom: 31px;
        left: 135px;
    }

    .up-arrow{
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #000;
        margin-bottom: 2px;
    }
    
    .down-arrow{
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #000;
        margin-top: 2px;
    }


}
  