@media only screen and (max-width: 1280px) {
    body{
        font-size: 10pt;
    }
    header{
        justify-content: space-around;
    }
    header nav{
        width: 70%;
    }   
    .oval{
        height: 30px;
        width: 80px;
    }
    .section-button{
        flex-direction: column-reverse;
        text-align: justify;

    }
    #lateral-direito{
        position: relative;
        bottom: 90px;
    }

    .click-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        width: 103px;
        height: 50px;
        font-size: 10pt;
    }
    

    .form-distancia, .form-distancia section{
        align-items: center;
    }

    .form-distancia section div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-lateral-retangulo{
        width: 270px;    
    }
}

@media only screen and (max-width: 1024px){
    #lateral-direito{
        bottom: 78px;
    }

    .img-lateral-retangulo{
        width: 210px;    
    }

}

@media only screen and (max-width: 896px) {
    header{
        width: 100%;
    }
    header img{
        width: 80px;
    }
    .none{
        display: inline-block;
    }
    ul{
        justify-content: space-evenly;
    }
    header nav{
        width: 20%;
    }
    .section-img-circle{
        justify-content: center;
    }
    .img-circle{
        padding: 10px;
        margin: 10px;
    }
    
    .oval{
        display: none;
    }
    main{
        flex-direction: column;
        width: 100%;
    }
    #lateral-direito{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: initial;
    }

    #lateral-direito div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 90%;
    }

    .img-lateral-retangulo{
        width: 306px;    
    }

    input, select{
        width: 300px;
        height: 20px;
    }
    form{
        width: 100%;
    }

}
  